#!/bin/bash

export GIT_AUTHOR_NAME="zischr"
export GIT_AUTHOR_EMAIL="zischr@localhost"
export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"

git add -A
git commit -m 'autocommit from zischr git hook'

